
<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-6">
                <h4 class="text-info">DashboardApp<br>You Wish We Create...</h4>
                <p class="font-size-14  text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.(About DashboardApp.in)(Address of DashboardApp).</p>
            </div>
            <div class="col-sm-4 col-6">
                <h4>Newsletter</h4>
                <form class="form-row">
                    <div class="col">
                        <input type="email" class="form-control mb-2" placeholder="Email*" required="required">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-info">
                            Subscribed
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-sm-3 col-6">
                <h4>Informations</h4>
                <div class="d-flex flex-column flex-wrap">
                    <a routerLink="about-us" class="text-white-50 pb-1">About Us</a>
                    <a routerLink="delivery-information" class="text-white-50 pb-1">Delivery Information</a>
                    <a routerLink="privacy-policy" class="text-white-50 pb-1">Privacy Policy</a>
                    <a routerLink="terms-and-conditions" class="text-white-50 pb-1">Terms & Conditions</a>
                </div>
            </div>
            <div class="col-sm-2 col-6">
                <h4>Account</h4>
                <div class="d-flex flex-column flex-wrap">
                    <a routerLink="my-account" class="text-white-50 pb-1">My Account</a>
                    <a routerLink="order-history" class="text-white-50 pb-1">Order History</a>
                    <a routerLink="wish-list" class="text-white-50 pb-1">Wish List</a>
                    <a routerLink="news-letter" class="text-white-50 pb-1">Newsletter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-white py-2 d-flex px-2 d-flex justify-content-around" >
        <span>
            &copy;Copyrights 2022 - {{currentYear}} <a class="text-info">DashboardApp</a>
        </span>
        <span>
            <a class="text-info">Privacy Policy</a>
        </span>
        <span>
            <a class="text-info me-5 fs-4"><i class="bi bi-youtube"></i></a>
            <a class="text-info me-5 fs-4"><i class="bi bi-facebook"></i></a>
            <a class="text-info fs-4"><i class="bi bi-instagram"></i></a>
        </span>
    </div>
</footer>