small {
    cursor: pointer;
    font-size: 15px;
}

.checkbox {
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}