<div class="container">
    <div class="ps-5 pe-5">
        <span class="fs-5" style="font-weight: 500;">User Overview</span>
        <div class="row mt-2">
            <div class="col-12 col-md-4">
                <div class="card rounded-4" style="background: rgb(195,182,34);
                background: linear-gradient(0deg, rgba(195,182,34,1) 18%, rgba(235,185,79,1) 57%);">
                    <div class="card-body rounded">
                        <div class="row">
                            <div class="col-6 fs-4" style="font-weight: 500;">
                                Overall progress
                            </div>
                            <div class="col-6 fs-4" style="height: 80px; width: 105px; font-weight: 500; border-radius: 20px;
                            border: 2px solid black; padding: 21px;">
                                <span class="align-middle">120%</span>
                            </div>
                            <div class="mt-5 pe-5">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <span>In progress</span>
                                        </div>
                                    </div>
                                    <div class="col-6 ">
                                        <div class="mb-3 float-end">
                                            <span>34%</span>
                                        </div>
                                    </div>
                                </div>
                                <ngb-progressbar type="info" [value]="34" height="10px"></ngb-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 pt-sm-2 p-2">
                <div class="card rounded-4">
                    <div class="card-body rounded">
                        <div class="row">
                            <div class="col-6 fs-4" style="font-weight: 500;">
                                Product Analytics
                            </div>
                            <div class="col-6 fs-4" style="height: 80px; width: 105px; font-weight: 500; border-radius: 20px;
                            border: 2px solid black; padding: 25px;">
                                <span class="align-middle">10%</span>
                            </div>
                            <div class="mt-5 pe-5">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <span>In progress</span>
                                        </div>
                                    </div>
                                    <div class="col-6 ">
                                        <div class="mb-3 float-end">
                                            <span>34%</span>
                                        </div>
                                    </div>
                                </div>
                                <ngb-progressbar type="info" [value]="34" height="10px"></ngb-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 pt-sm-2 p-2">
                <div class="card rounded-4">
                    <div class="card-body rounded">
                        <div class="row">
                            <div class="col-6 fs-4" style="font-weight: 500;">
                                User Analytics
                            </div>
                            <div class="col-6 fs-4" style="height: 80px; width: 105px; font-weight: 500; border-radius: 20px;
                            border: 2px solid black; padding: 25px;">
                                <span class="align-middle">10%</span>
                            </div>
                            <div class="mt-5 pe-5">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <span>In progress</span>
                                        </div>
                                    </div>
                                    <div class="col-6 ">
                                        <div class="mb-3 float-end">
                                            <span>34%</span>
                                        </div>
                                    </div>
                                </div>
                                <ngb-progressbar type="info" [value]="34" height="10px"></ngb-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <span class="fs-5" style="font-weight: 500;">Loan</span>
            </div>
        </div>
        <div class="container mt-4" >
            <div class="box" style="background-image: url('assets/img/ashutosh.jpg'); border-radius: 16px 0 0 16px; border:none;"><span>
                    <i class="bi bi-receipt" style="font-size: 24px;"></i><br>
                    SME Loan</span></div>
            <div class="box" style="background-image: url('assets/img/ashutosh.jpg');border-left: 1px solid white;border-right: 1px solid white; border-top: none;border-bottom: none;">
                <i class="bi bi-receipt" style="font-size: 24px;"></i><br>
                Local Purchases Order <br>
                <button class="btn btn-light">Apply</button>
            </div>
            <div class="box" style="background-image: url('assets/img/ashutosh.jpg');border:none; border-radius: 0 16px 16px 0">
                <i class="bi bi-receipt" style="font-size: 24px;"></i><br>
                Invoices
            </div>
        </div>

        <div class="row mt-4 pb-5">
            <div class="discr" style="background-color: white; border-radius: 20px; padding: 20px;">
                <div class="row p-4">
                    <div class="col-md-3">
                        <img src="assets/img/img1.jpg" alt="Image" width="140px" height="140px">
                    </div>
                    <div class="col-md-9">
                        <h2>Description Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque eleifend metus
                            eget consectetur.</p>
                        <p>Sed ultrices urna a elit eleifend malesuada. Nulla facilisi. Proin fermentum eros ac dui
                            fringilla, at rutrum tellus lobortis.
                            Sed ultrices urna a elit eleifend malesuada. Nulla facilisi. Proin fermentum eros ac dui
                            fringilla, at rutrum tellus lobortis.</p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-md-9">
                        <h2>Description Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque eleifend metus
                            eget consectetur.</p>
                        <p>Sed ultrices urna a elit eleifend malesuada. Nulla facilisi. Proin fermentum eros ac dui
                            fringilla, at rutrum tellus lobortis.Sed ultrices urna a elit eleifend malesuada. Nulla
                            facilisi. Proin fermentum eros ac dui
                            fringilla, at rutrum tellus lobortis.</p>
                    </div>
                    <div class="col-md-3 d-flex justify-content-end pe-5">
                        <img src="assets/img/img1.jpg" alt="Image" width="140px" height="140px">
                    </div>
                </div>



                <div class="row p-4">
                    <div class="col-md-3 image-container col-sm-12">
                        <img src="assets/img/img1.jpg" alt="Image" width="200px" height="200px">
                        <div class="image-text">
                            <p class="phead">Lorem ipsum dolor</p> <br>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 image-container">
                        <img src="assets/img/img1.jpg" alt="Image" width="200px" height="200px">
                        <div class="image-text">
                            <p class="phead">Lorem ipsum dolor</p> <br>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 image-container">
                        <img src="assets/img/img1.jpg" alt="Image" width="200px" height="200px">
                        <div class="image-text">
                            <p class="phead">Lorem ipsum dolor</p> <br>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 image-container">
                        <img src="assets/img/img1.jpg" alt="Image" width="200px" height="200px">
                        <div class="image-text">
                            <p class="phead">Lorem ipsum dolor</p> <br>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>